@view-transition {
	navigation: auto;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	background-color: var(--color-bg);
	background-image: var(--topography-pattern);
	color: var(--color-text);

	font-family: var(--font-base);
	font-size: var(--step-0);
	line-height: var(--leading-normal);
	-webkit-font-smoothing: antialiased;
}

.site-header + * {
	flex-grow: 999;
}

h1,
h2,
h3 {
	font-family: var(--font-display);
	font-weight: 400;
}

h1,
h2 {
	text-transform: uppercase;
}

h1 {
	font-size: var(--step-7);
	line-height: var(--leading-flat);
}

h2,
h3 {
	line-height: var(--leading-tight);
}

h2 {
	font-size: var(--step-5);
}

h3 {
	font-size: var(--step-3);
}

p {
	max-inline-size: var(--measure);
}

a {
	color: inherit;
	text-decoration-color: var(--color-underline);
	text-decoration-style: solid;
	text-decoration-thickness: calc(1 / 2 * var(--space-4xs));
	text-underline-offset: var(--space-3xs);
	transition: color var(--transition-base),
		text-decoration-color var(--transition-base),
		text-decoration-thickness var(--transition-base);

	&:hover {
		color: var(--color-accent);
		text-decoration-color: var(--color-underline-hover);
		text-decoration-thickness: var(--space-4xs);
	}
}

em {
	font-style: normal;
}
