.site-footer {
	--region-end-space: var(--space-s);
	font-size: var(--step--2);

	.site-footer-inner {
		padding-block-start: var(--space-2xs); /* magic number */
		border-block-start: var(--border);
	}

	p {
		margin-inline-start: auto;
		text-align: end;
	}

	a {
		padding-block: var(--space-2xs);
	}
}
