.site-header {
	--region-start-space: var(--space-s);
}

.site-header-inner {
	--cluster-gap: var(--space-xs);
	border-block-end: var(--border);

	a {
		padding-block: var(--space-2xs);
	}

	nav {
		font-size: var(--step--1);

		a {
			position: relative;
			display: inline-block;
			text-decoration-line: none;

			&:after {
				--text-decoration-size: 0.33ex;

				content: "";
				position: absolute;
				inset-inline: auto 0;
				inset-block-end: calc(
					-1 / 2 * (var(--text-decoration-size) + var(--border-thickness))
				);
				inline-size: 0%;
				block-size: var(--text-decoration-size);
				background-color: transparent;
				transition: inset-inline var(--transition-base),
					inline-size var(--transition-base);
			}

			&[aria-current="page"]:after,
			&[data-state="active"]:after,
			&:hover:after {
				inline-size: 100%;
				inset-inline: 0 auto;
				background-color: var(--color-border-hover);
			}
		}

		> :nth-child(3) {
			margin-inline-end: auto;
		}
	}
}
