.site-header {
	--region-start-space: var(--space-s);
	position: relative;

	nav {
		--cluster-gap: var(--space-s);

		border-block-end: var(--border);
		font-size: var(--step--1);

		a {
			position: relative;
			padding-block: var(--space-3xs);
			text-decoration-line: none;

			&:after {
				--text-decoration-size: var(--space-4xs);
				content: "";
				position: absolute;
				inset-inline: auto 0;
				inset-block-end: calc(
					-1 / 2 * (var(--text-decoration-size) + var(--border-thickness))
				);
				inline-size: 0%;
				block-size: var(--text-decoration-size);
				background-color: transparent;
				background-image: var(--dots-pattern);
				transition: inset-inline var(--transition-base),
					inline-size var(--transition-base);

				mask-image: url(/images/grunge-texture-comp-13.png);
				mask-size: 1lh 1lh;
			}

			&:hover:after {
				inline-size: 100%;
				inset-inline: 0 auto;
				background-color: var(--color-border-hover);
			}
		}

		> :nth-last-child(2) {
			margin-inline-start: auto;
		}
	}
}
