---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Footer from "@components/Footer.astro";
import { getCollection, render } from "astro:content";
import { components } from "@mixins/autoImportComponents";

// Generate a new path for every collection entry
export async function getStaticPaths() {
	const publishedPosts = await getCollection("posts", ({ data }) => {
		return data.isDraft !== true;
	});
	return publishedPosts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const postDate = new Date(post.data.pubDate);
const { Content } = await render(post);
---

<BaseLayout class="post-page wrapper" title={post.data.title} desc="TKTK">
	<Header class="region" />
	<main id="main" tabindex="-1">
		<article class="post-content grid flow">
			<h1 class="post-title">{post.data.title}</h1>
			<p class="post-pub-date">
				Published
				<FormattedDate pubDate={postDate} />
			</p>
			<Content components={components} />
		</article>
	</main>
	<Footer />
</BaseLayout>
