---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Blockquote from "../../components/Blockquote.astro";
import BlogPostImage from "../../components/BlogPostImage.astro";
import Footer from "../../components/Footer.astro";
import { getCollection, render } from "astro:content";

const components = {
	Blockquote,
	img: BlogPostImage,
};

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const postDate = new Date(post.data.pubDate);
const { Content } = await render(post);
---

<BaseLayout class="post-page wrapper" title={post.data.title} desc="TKTK">
	<Header class="region" />
	<main id="main">
		<article class="post-content grid flow">
			<h1 class="post-title">{post.data.title}</h1>
			<FormattedDate class="post-pub-date" pubDate={postDate} />
			<Content components={components} />
		</article>
	</main>
	<Footer />
</BaseLayout>
