---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import ContactForm from "@components/ContactForm.astro";
import Footer from "@components/Footer.astro";
---

<BaseLayout class="contact-page wrapper" title="Contact Us" desc="TKTK">
	<Header class="region" />
	<main class="grid" id="main">
		<h1>Contact</h1>
		<ContactForm />
	</main>
	<Footer />
</BaseLayout>
