---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Header from "@components/Header.astro";
import headshotImg from "@assets/images/headshot-edited.png";
import PostList from "@components/PostList.astro";
import Footer from "@components/Footer.astro";

const publishedPosts = await getCollection("posts", ({ data }) => {
	return data.isDraft !== true;
});
const sortedPostEntries = publishedPosts.sort(
	(a, b) =>
		new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const latestPostEntries = sortedPostEntries.slice(0, 4);
---

<!-- TODO: update page desc -->
<BaseLayout class="home-page grid wrapper" title="Nishit Jalan" desc="TKTK">
	<Header class="grid">
		<div class="hero grid">
			<h1>Unlock Your True Potential with <em>Nishit Jalan</em></h1>
			<p>
				<span>
					Learn from a decorated army colonel who brings years of leadership and
					coaching expertise to help you conquer your goals
				</span>
			</p>
		</div>
		<div class="headshot">
			<Picture
				src={headshotImg}
				formats={["avif", "webp"]}
				alt=""
				widths={[480, 960, 1920]}
				sizes={`(min-width: 64em) 480px, 100vw`}
				quality="high"
				loading={"eager"}
			/>
		</div>
	</Header>
	<main class="grid" id="main" tabindex="-1">
		<section id="latest-posts" class="grid">
			<h2 class="cluster">
				<span>Latest posts</span>
			</h2>
			<PostList entries={latestPostEntries} />
		</section>
	</main>
	<Footer />
</BaseLayout>
