<!-- https://docs.netlify.com/forms/setup/#html-forms -->
<form
	class="grid"
	name="contact"
	method="POST"
	data-netlify="true"
	netlify-honeypot="bot-field"
>
	{
		import.meta.env.DEV && (
			<div class="visually-hidden">
				The build system automatically strips the data-netlify="true" attribute
				from the form tag and injects a hidden input named form-name.
			</div>
		)
	}
	<!-- https://docs.netlify.com/forms/spam-filters/ -->
	<div class="visually-hidden">
		<label>
			Don’t fill this out if you’re human: <input name="bot-field" />
		</label>
	</div>
	<div class="name-field flow">
		<label for="name">Name:</label>
		<input
			id="name"
			type="text"
			name="name"
			autocomplete="name"
			spellcheck="false"
			placeholder="Your name"
			required
		/>
	</div>
	<div class="email-field flow">
		<label for="email">Email:</label>
		<input
			id="email"
			type="email"
			name="email"
			autocomplete="email"
			placeholder="Your email address"
			required
		/>
	</div>
	<div class="flow">
		<label for="message">Message:</label>
		<textarea id="message" name="message" placeholder="Write your message here"
		></textarea>
	</div>
	<button type="submit">Submit</button>
</form>
