<form class="grid" name="contact" method="POST" data-netlify="true">
	<div class="flow">
		<label for="name">Name:</label>
		<input
			id="name"
			type="text"
			name="name"
			autocomplete="name"
			spellcheck="false"
			placeholder="Your name"
			required
		/>
	</div>
	<div class="flow">
		<label for="email">Email:</label>
		<input
			id="email"
			type="email"
			name="email"
			autocomplete="email"
			placeholder="Your email address"
			required
		/>
	</div>
	<div class="flow">
		<label for="message">Message:</label>
		<textarea id="message" name="message" placeholder="Write your message here"
		></textarea>
	</div>
	<button type="submit">Submit</button>
</form>
