<div class="noise"></div>

<style>
	.noise {
		position: absolute;
		inset: 0 calc(-1 * var(--dynamic-page-gutter));
		background-image: url("/images/noise-new.webp");
		background-repeat: repeat;
		opacity: 0.2;
		pointer-events: none;

		mask-image: linear-gradient(
			to bottom,
			transparent,
			var(--space-2xs),
			white calc(var(--space-s) + 1lh)
		);
	}
</style>
