<div class="noise"></div>

<style>
	.noise {
		position: absolute;
		inset: 0 calc(-1 * var(--dynamic-page-gutter));
		background-image: url("/images/noise.png");
		background-repeat: repeat;
		opacity: 0.033;
		pointer-events: none;
		z-index: 999;

		mask-image: linear-gradient(
			to bottom,
			transparent,
			var(--space-s),
			white calc(var(--space-s) + 1lh)
		);
	}
</style>
