<div class="noise"></div>

<style>
	.noise {
		position: fixed;
		inset: 0;
		background-image: url("/images/noise.png");
		background-repeat: repeat;
		opacity: 0.033;
		pointer-events: none;
		z-index: 999;
	}
</style>
