<a class="visually-hidden" href="#main">Skip to main</a>

<style>
	a {
		padding-block: var(--space-2xs);
		background-color: var(--color-bg);

		font-size: var(--step--1);
		text-decoration-line: none;
	}

	a:focus-visible {
		position: absolute;
		inset-block-start: var(--space-s);
		z-index: 1;
	}
</style>
