.post-content {
	--grid-row-gap: 0;
	--grid-column-gap: var(--space-m);
	grid-template-columns: 1fr;

	> * {
		grid-column: 1/-1;
	}

	h2,
	h3,
	:where(.post-blockquote, .post-image),
	:where(.post-blockquote, .post-image) + * {
		--flow-space: var(--space-m-l);
	}

	.post-pub-date {
		--flow-space: 0;
		order: -1;
		font-size: var(--step--1);
	}

	.post-title {
		margin-block-start: var(--space-s);
	}

	.post-image {
		--grid-row-gap: var(--space-xs);
		grid-template-columns: subgrid;

		figcaption {
			max-inline-size: var(--measure);
			font-size: var(--step--2);
			text-wrap: pretty;
		}
	}

	.post-blockquote {
		padding-inline-start: var(--space-s);
		border-inline-start: var(--space-2xs) solid var(--color-accent);

		blockquote {
			--flow-space: initial;
			font-size: var(--step-1);
			line-height: var(--leading-snug);
		}

		figcaption {
			--flow-space: initial;
			font-size: var(--step--1);
		}
	}

	@media (--md-n-above) {
		grid-template-columns: repeat(5, 1fr);

		> :not(.post-title, .post-pub-date, .post-image) {
			grid-column: 1/-2;
		}

		> :where(.post-title, .post-pub-date, .post-image) {
			grid-column: 1/-1;
		}

		> .post-image > * {
			grid-column: 1/-1;
		}
	}

	@media (--xl-n-above) {
		> :not(.post-image) {
			grid-column: 2/-2;
		}

		> .post-title {
			grid-column: 2/-1;
		}

		/* > .post-pub-date {
			--flow-space: 0;
			grid-column: 1/2;
			grid-row: 1/2;
			align-self: start;
			text-align: end;
		} */

		> .post-image figcaption {
			grid-column: 2/-1;
		}
	}

	@media (--xxl-n-below) {
		.post-image img {
			margin-inline-start: calc(-1 * var(--dynamic-page-gutter));
			min-inline-size: calc(
				100% + var(--dynamic-page-gutter) + var(--dynamic-page-gutter)
			);
			block-size: auto;
		}
	}
}
