.post-content {
	--grid-row-gap: 0;
	--grid-column-gap: var(--space-m);
	grid-template-columns: 1fr;

	> * {
		grid-column: 1/-1;
	}

	:is(figure:has(blockquote), picture, img),
	:is(figure:has(blockquote), picture, img) + *:not(h2, h3) {
		--flow-space: 1lh;
	}

	figure:has(blockquote) {
		padding-inline-start: var(--space-s);
		border-inline-start: var(--space-2xs) solid var(--color-accent);

		blockquote {
			--flow-space: initial;
			font-size: var(--step-1);
		}

		figcaption {
			--flow-space: initial;
			font-size: var(--step--1);
		}
	}

	@media (--md-n-above) {
		grid-template-columns: repeat(10, 1fr);

		> :not(h1, time, picture, img) {
			grid-column: 1/-2;
		}

		> :is(h1, time, picture, img) {
			grid-column: 1/-1;
		}
	}

	@media (--lg-n-above) {
		> :not(h1, time, picture, img) {
			grid-column: 2/-2;
		}

		> :is(h1, time, picture, img) {
			grid-column: 2/-1;
		}
	}

	@media (--xl-n-above) {
		> :not(h1, time, picture, img) {
			grid-column: 2/-3;
		}

		:is(h1, picture, img) {
			grid-column: 2/-1;
		}

		time {
			--flow-space: 0;
			grid-row: 1/2;
			grid-column: 1/2;
		}
	}
}
