.post-content {
	--grid-row-gap: 0;
	--grid-column-gap: var(--space-m);
	grid-template-columns: 1fr;

	> * {
		grid-column: 1/-1;
	}

	h2,
	h3,
	:where(.post-blockquote, .post-image),
	:where(.post-pub-date, .post-blockquote, .post-image) + * {
		--flow-space: var(--space-m-l);
	}

	@media (--md-n-above) {
		grid-template-columns: repeat(5, 1fr);

		> :not(.post-title, .post-pub-date, [data-width="full-bleed"]) {
			grid-column: 1/-2;
		}

		> :where(.post-title, .post-pub-date, [data-width="full-bleed"]) {
			grid-column: 1/-1;
		}

		> [data-width="full-bleed"] > * {
			grid-column: 1/-1;
		}
	}

	@media (--xl-n-above) {
		> :not([data-width="full-bleed"]) {
			grid-column: 2/-2;
		}

		> .post-title {
			grid-column: 2/-1;
		}

		> [data-width="full-bleed"] figcaption {
			grid-column: 2/-1;
		}
	}
}

.post-pub-date {
	--flow-space: 0;
	order: -1;
	font-size: var(--step--1);
	letter-spacing: 0.025em;
	font-variant-caps: all-small-caps;
	font-variant-numeric: tabular-nums;

	[aria-hidden="true"] {
		color: var(--color-accent);
	}
}

.post-title {
	margin-block-start: var(--space-s);
}

.post-image {
	--grid-row-gap: var(--space-xs);

	img {
		inline-size: auto;
		margin-inline-start: calc(-1 * var(--dynamic-page-gutter));
		min-inline-size: calc(
			100% + var(--dynamic-page-gutter) + var(--dynamic-page-gutter)
		);
		block-size: auto;

		@media (--sm-n-above) {
			margin-inline-start: unset;
			min-inline-size: unset;
		}
	}

	figcaption {
		font-size: var(--step--2);
		text-wrap: pretty;
	}
}

[data-width="full-bleed"] {
	grid-template-columns: subgrid;

	img {
		@media (--xxl-n-below) {
			margin-inline-start: calc(-1 * var(--dynamic-page-gutter));
			min-inline-size: calc(
				100% + var(--dynamic-page-gutter) + var(--dynamic-page-gutter)
			);
			block-size: auto;
		}

		@media (--motionOK) {
			@supports (animation-timeline: view()) {
				--inset-distance: 0;

				view-timeline-name: --revealing-image;
				view-timeline-axis: block;
				animation: reveal linear both;
				animation-timeline: --revealing-image;
				animation-range: entry 25% entry 87.5%;

				@media (--sm-n-above) {
					--inset-distance: var(--dynamic-page-gutter);
				}

				@media (--md-n-above) and (--below-xl) {
					--inset-left-distance: var(--dynamic-page-gutter);
					--inset-distance: calc(
						var(--dynamic-page-gutter) +
							((100vw - (2 * var(--dynamic-page-gutter))) / 5)
					);
				}

				@media (--xl-n-above) and (--xxl-n-below) {
					--inset-left-distance: calc(
						var(--dynamic-page-gutter) +
							((100vw - (2 * var(--dynamic-page-gutter))) / 5)
					);
					--inset-right-distance: calc(
						var(--dynamic-page-gutter) +
							((100vw - (2 * var(--dynamic-page-gutter))) / 5)
					);
				}

				@media (--xxl-n-above) {
					--inset-distance: calc(
						(100vw - (2 * var(--dynamic-page-gutter))) / 5
					);
				}
			}
		}
	}
}

@keyframes reveal {
	from {
		clip-path: inset(
			0% var(--inset-right-distance, var(--inset-distance)) 0%
				var(--inset-left-distance, var(--inset-distance))
		);
	}
	to {
		clip-path: inset(0% 0% 0% 0%);
	}
}
